    <!-- Column Mapping Modal -->
    <div class="modal fade" id="columnSelectionModal" tabindex="-1" aria-labelledby="columnSelectionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="columnSelectionModalLabel">Select Columns to Download</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>Select the columns you want to include in the download:</p>
                  <!-- Dynamically generate checkboxes based on columns in data -->
                  <div id="column-checkboxes">
                      <!-- Example Checkbox -->
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="Language" id="column-Language" checked>
                          <label class="form-check-label" for="column-Language">
                              Language
                          </label>
                      </div>
                      <!-- Add more checkboxes as needed -->
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="showDownloadOptions()">Next</button>
              </div>
          </div>
      </div>
  </div>
  