<style>
    .image-option {
        width: 150px;
        height: auto;
        margin: 10px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 8px;
        text-align: center;
    }

    .image-option img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .image-option .image-label {
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
    }

    .image-option:hover {
        border-color: #007bff;
    }

    #image-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #answer-buttons {
        display: flex;
        justify-content: center;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Manage submenu items (green background) -->
        <li class="nav-item">
          <div id="manageSubmenu" class="submenu active">
            <a class="nav-link manage-btn" href="{{ url_for('add_lists_word') }}">Add Lists of Words</a>
            <a class="nav-link manage-btn" href="{{ url_for('add_new_word') }}">Add New Word</a>
            <a class="nav-link manage-btn" href="{{ url_for('read_from_file') }}">Read from File</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  