{% extends "learn.html" %}

{% block title %}Multi Learning{% endblock %}

{% block learn %}

<h1 class="text-center mb-4">Image Learning</h1>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project/css/learning.css') }}">

<style>
.image-option {
    width: 150px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    text-align: center;
}

.image-option img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-option .image-label {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.image-option:hover {
    border-color: #007bff;
}

#image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#answer-buttons {
    display: flex;
    justify-content: center;
}

.no-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

  </style>

<div class="container no-margin">
  <div class="row justify-content-center no-margin">
      <div class="col-md-8">
          <div class="card mt-3">
              <div class="card-header text-center">
                  <h5 id="word-to-translate" class="row justify-content-center no-margin">Losowane słowo pojawi się tutaj</h2>
              </div>
              <div class="card-body">
                  <div id="image-container" class="row justify-content-center"></div>
                  <div id="answer-buttons" class="mt-3"></div>
              </div>
          </div>


      </div>          
      <div class="col-md-4">
            <div class="card mt-3">
                <div class="card-header text-center">
                    <h5 class="no-margin">Additional Controls</h5>
                </div>
                {% include 'learning/controls/audio.html' %}
              <div class="card-footer text-center">
                <p class="m-0">SPACE - check | CTRL - play audio | → - next word</p>
            </div>
        </div>
  </div>
</div>

{% include 'learning/controls/buttons.html' %}

<script>
  </script>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='project/js/learning/image_words_learning.js') }}"></script>
{% endblock %}