<!-- Sidebar Column -->
<div class="col-md-16">
    <div class="card mt-3">
        <div class="card-header text-center">
            <h2 class="card-title">Wybierz tekst do załadowania</h2>
        </div>
        {% include 'learning/controls/files_loader.html' %}
    </div>
    <div class="col-md-8">
        <!-- Buttons -->
        <div>
            <button class="btn btn-primary mb-2" onclick="fetchData()">Load Data</button>
            <button class="btn btn-secondary mb-2" id="theme-toggle" onclick="toggleTheme()">Toggle Theme</button>
            <button class="btn btn-info mb-2" onclick="toggleDirection()">Toggle Direction</button>
            <button class="btn btn-danger mb-2" onclick="removeCurrentSentence()">Remove Sentence</button>
        </div>
    </div>
</div>

<!-- Container for alerts -->
<div id="alert-container"></div>
