<!-- Modal do wyboru formatu pobierania -->

<div class="modal fade" id="downloadOptionsModal" tabindex="-1" aria-labelledby="downloadOptionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadOptionsModalLabel">Download Configuration</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Select the format for downloading the configuration:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="format" id="formatJson" value="json" checked>
                    <label class="form-check-label" for="formatJson">JSON</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="format" id="formatExcel" value="excel">
                    <label class="form-check-label" for="formatExcel">Excel</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="format" id="formatCsv" value="csv">
                    <label class="form-check-label" for="formatCsv">CSV</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="downloadConfiguration()">Download</button>
            </div>
        </div>
    </div>
</div>