<div class="col-md-4">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="card-title">Historia tłumaczeń</h2>
        </div>
        <div class="card-body">
            <ul id="translation-history"></ul> <!-- Tutaj bÄ™dzie wyĹ›wietlana historia tĹ‚umaczeĹ„ -->
            <button id="clear-history" class="btn btn-sm btn-danger mt-3">Wczytaj historię</button>
            <button id="save-history-to-file" class="btn btn-sm btn-success mt-3">Zapisz historię</button>
            <button id="load-history-from-file" class="btn btn-sm btn-primary mt-3">Wczytaj historię</button>
        </div>
        <div class="card-footer text-center">
        <p class="m-0">ENTER = save changes </p>
        </div>
    </div>
</div>