<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header {{ modalHeaderClass }}">
                <h5 class="modal-title" id="resultModalLabel">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{ 'bg-dark text-light' if theme == 'dark' else '' }}">
                <p>{{ modalMessage }}</p>
                <p>
                    <strong style="display: block; text-align: center;">
                        {{ correctWord }}
                        <button style="margin-left: 10px;" onclick="playTextToSpeech('{{ correctWord }}')">
                            <i class="icon-sound"></i>
                        </button>
                    </strong>
                </p>
                <p style="text-align: center;">
                    {{ fullSentence }}
                    <button style="margin-left: 10px;" onclick="playTextToSpeech('{{ fullSentence }}')">
                        <i class="icon-sound"></i>
                    </button>
                </p>
                <p style="text-align: center;">
                    {{ exampleTranslation }}
                    <button style="margin-left: 10px;" onclick="playTextToSpeech('{{ exampleTranslation }}')">
                        <i class="icon-sound"></i>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
