{% extends "base.html" %}
{% block title %}Add new word{% endblock %}

{% block content %}
<h2>Dodaj Nowe Słowo</h2>
        <form id="dataForm">
            <div class="form-group">
                <label for="file">Wybierz plik</label>
                <select class="form-control" id="file" required></select>
            </div>
            <div class="form-group">
                <label for="language">Język</label>
                <select class="form-control" id="language" required>
                    <option value="en">English</option>
                    <option value="es">Español</option>
                    <option value="pl">Polski</option>
                    <option value="ru">Русский</option>
                </select>
            </div>
            <div class="form-group">
                <label for="translationLanguage">Język Tłumaczenie</label>
                <select class="form-control" id="translationLanguage" required>
                    <option value="en">English</option>
                    <option value="es">Español</option>
                    <option value="pl">Polski</option>
                    <option value="ru">Русский</option>
                </select>
            </div>
            <div class="form-group">
                <label for="word">Słowo</label>
                <input type="text" class="form-control" id="word" required>
            </div>
            <div class="form-group">
                <label for="translation">Tłumaczenie</label>
                <input type="text" class="form-control" id="translation" required>
            </div>
            <div class="form-group">
                <label for="definition">Definicja słowa</label>
                <input type="text" class="form-control" id="definition" required>
            </div>
            <div class="form-group">
                <label for="example">Przykład użycia</label>
                <input type="text" class="form-control" id="example" required>
            </div>
            <div class="form-group">
                <label for="imageLink">Link do obrazka</label>
                <input type="url" class="form-control" id="imageLink" required>
            </div>
            <div class="form-group">
                <label for="audioLink">Link do ścieżki dźwiękowej</label>
                <input type="url" class="form-control" id="audioLink" required>
            </div>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/add_new_word.js') }}"></script>
{% endblock %}
        