{% extends "learn.html" %}

{% block title %}Multi Learning{% endblock %}

{% block learn %}

<h1 class="text-center mb-4">Image Learning</h1>

<style>
.image-option {
    width: 150px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 8px;
    text-align: center;
}

.image-option img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-option .image-label {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.image-option:hover {
    border-color: #007bff;
}

#image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#answer-buttons {
    display: flex;
    justify-content: center;
}

.no-margin {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

  </style>

<div class="container no-margin">
  <div class="row justify-content-center no-margin">
      <div class="col-md-8 no-margin">
          <div class="card mt-5 no-margin">
              <div class="card-header">
                  <h2 id="word-to-translate" class="row justify-content-center">Losowane słowo pojawi się tutaj</h2>
              </div>
              <div class="card-body">
                  <div id="image-container" class="row justify-content-center"></div>
                  <div id="answer-buttons" class="mt-3"></div>
              </div>
          </div>
          {% include 'learning/controls/audio.html' %}
      </div>
  </div>
</div>

{% include 'learning/controls/buttons.html' %}

<script>
    let words = [];
    let excludedWords = [];
    let reverseDirection = false;
    let currentWord = null;

    document.addEventListener('keydown', function(event) {
      if (event.key >= '1' && event.key <= '5') {
        const index = parseInt(event.key) - 1;
        const buttons = document.querySelectorAll('.answer-buttons .btn');
        if (buttons[index]) {
          buttons[index].click();
        }
      }
      if (event.key === 'Enter') {
        if (document.getElementById('translation').value.trim() === '') {
          handleEnterKey();
        } else {
          checkTranslation();
        }
      } else if (event.key === 'ArrowRight') {
        generateRandomWord();
      }
    });

    function fetchData() {
      const fileInput = document.getElementById('fileInput');
      const file = fileInput.files[0];
      if (!file) {
        console.error('No file selected.');
        return;
      }

      const reader = new FileReader();
      reader.onload = function(event) {
        const fileContent = event.target.result;
        try {
          words = JSON.parse(fileContent);
          console.log('Data loaded successfully:', words);
          generateRandomWord();
        } catch (error) {
          console.error('Error parsing JSON:', error);
        }
      };
      reader.readAsText(file);
    }

    function generateRandomWord() {
      const availableWords = words.filter(word => word.imageLink && !excludedWords.includes(word.word));
      if (availableWords.length === 0) {
        console.log('Brak więcej słów do nauki.');
        return;
      }

      const randomIndex = Math.floor(Math.random() * availableWords.length);
      const randomWord = availableWords[randomIndex];
      currentWord = randomWord;
      document.getElementById('word-to-translate').textContent = reverseDirection ? randomWord.word : randomWord.translation;

      displayImages(randomWord);
    }

    function displayImages(correctWord) {
      const imageContainer = document.getElementById('image-container');
      imageContainer.innerHTML = '';

      const correctAnswer = reverseDirection ? correctWord.translation : correctWord.word;
      const answers = [correctAnswer];
      while (answers.length < 6) {
        const randomIndex = Math.floor(Math.random() * words.length);
        const randomAnswer = reverseDirection ? words[randomIndex].translation : words[randomIndex].word;
        if (!answers.includes(randomAnswer) && words[randomIndex].imageLink) {
          answers.push(randomAnswer);
        }
      }

      answers.sort(() => Math.random() - 0.5);

      answers.forEach(answer => {
        const wordData = words.find(word => reverseDirection ? word.translation === answer : word.word === answer);
        if (wordData && wordData.imageLink) {
          const imageContainerElement = document.createElement('div');
          imageContainerElement.className = 'image-option';

          const imageElement = document.createElement('img');
          imageElement.src = `/image_files/${wordData.imageLink.split('\\').pop()}`;
          imageElement.alt = answer;

          const labelElement = document.createElement('div');
          labelElement.className = 'image-label';
          labelElement.textContent = answer;

          imageContainerElement.onclick = () => checkImage(answer, correctAnswer);
          imageContainerElement.appendChild(imageElement);
          imageContainerElement.appendChild(labelElement);

          imageContainer.appendChild(imageContainerElement);
        }
      });
    }

    function checkImage(selectedWord, correctWord) {
        const answerButtons = document.getElementById('answer-buttons');
        answerButtons.innerHTML = '';

        // Remove any existing modals
        const existingModal = document.getElementById('resultModal');
        if (existingModal) {
            existingModal.remove();
        }

        // Determine the modal header class and message based on the answer correctness
        const modalHeaderClass = selectedWord === correctWord ? 'bg-success text-white' : 'bg-danger text-white';
        const modalTitle = selectedWord === correctWord ? 'Poprawna odpowiedź!' : 'Nieprawidłowa odpowiedź!';
        const modalMessage = selectedWord === correctWord ? 'Poprawna odpowiedź!' : 'Nieprawidłowa odpowiedź!';
        const correctWordMessage = `<strong style="display: block; text-align: center;">${correctWord}</strong>`;

        // Generate the modal HTML
        const modalHTML = `
          <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header ${modalHeaderClass}">
                  <h5 class="modal-title" id="resultModalLabel">${modalTitle}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body ${theme === 'dark'? 'bg-dark text-light' : ''}">
                  <p>${modalMessage}</p>
                  <p>${correctWordMessage}</p>
                </div>
              </div>
            </div>
          </div>
        `;

        if (ttsCheckbox.checked && !audioCheckbox.checked) {    
            playTextToSpeech(selectedWord);
        }
        if (audioCheckbox.checked && ttsCheckbox.checked) { 
            playTextToSpeech(correctWord);
        }

        // Append the modal HTML to the body
        document.body.insertAdjacentHTML('beforeend', modalHTML);

        // Show the modal
        $('#resultModal').modal('show');

        // Hide the modal after 3 seconds and remove it from the DOM
        setTimeout(() => {
            $('#resultModal').modal('hide');
            $('#resultModal').on('hidden.bs.modal', () => {
                const modal = document.getElementById('resultModal');
                if (modal) {
                    modal.remove();
                }
                generateRandomWord();
            });
        }, 3000);
    }

    function toggleDirection() {
      reverseDirection = !reverseDirection;
      generateRandomWord();
    }

    function removeCurrentWord() {
      if (currentWord) {
        excludedWords.push(currentWord.word);
        generateRandomWord();
      }
    }

    function toggleTheme() {
      document.body.classList.toggle('dark-theme');
    }

    function fetchExcludedWords() {
      fetch('api/setting/excludedWords.json')
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        excludedWords = data;
        console.log('Excluded words loaded:', excludedWords);
      })
      .catch(error => {
        console.error('Error fetching excluded words:', error);
        excludedWords = [];
      });
    }

    document.addEventListener('DOMContentLoaded', fetchExcludedWords);
  </script>

{% endblock %}

{% block scripts %}

<script src=""></script>
{% endblock %}
