{% extends "learn.html" %}

{% block title %}Sentences Learning{% endblock %}

{% block learn %}
<h1 class="text-center mb-4">Sentences Learning (issue) - zobacz opis w pliku html</h1>
<div id="quiz" style="display: none;">
  <div class="card mt-3">
    <div class="card-body text-center">
      <h5 class="card-title">Translate the sentence:</h5>
      <p class="sentence-to-translate" id="sentence"></p>
      <div class="answer-buttons" id="answer-buttons"></div>
      <button class="btn btn-success" onclick="generateRandomSentence()">Next Sentence</button>
      <button id="edit-word-btn" class="btn btn-warning ms-2" onclick="openEditModal(currentWordData)">Edit</button>
      <p id="result" class="mt-3"></p>
      {% include 'learning/controls/audio.html' %}
      <div id="result"></div>
    </div>
  </div>
</div>
{% include 'learning/controls/buttons.html' %}

{% include 'learning/modals/edit-word-modal.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='project/js/learning/sentences_learning.js') }}"></script>
{% endblock %}
