{% extends "learn.html" %}

{% block title %}Single Word Learning{% endblock %}

{% block learn %}
<h1 class="text-center mb-4">Single Word Learning</h1>
<div id="quiz" style="display: none;">
  <div class="card mt-3">
    <div class="card-body text-center">
      <h5 class="card-title">Translate the word:</h5>
      <p class="word-to-translate" id="word"></p>
      <div class="form-group">
        <label for="translation">Enter the translation:</label>
        <input type="text" class="form-control" id="translation" onkeydown="handleKeyDown(event)">
      </div>
      <button class="btn btn-primary mr-2" onclick="checkTranslation()">Check</button>
      <button class="btn btn-success" onclick="generateRandomWord()">Next Word</button>
      <button class="btn btn-warning" id="start-recording" onclick="startRecording()">Start Recording</button>
      <p id="result" class="mt-3"></p>
      {% include 'learning/controls/audio.html' %}
      <div id="result"></div>
      </br>
      <p>SPACE - check | CTR - play audio | -> - next word </p>
    </div>
  </div>
</div>

<div id="example-sentence">
  <p id="example-sentence-text" style="color: red;"></p><span id="example-sentence-text-content"></span></p>
</div>
{% include 'learning/controls/buttons.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/learning/single_word_learning.js') }}"></script>
{% endblock %}
