{% extends "manage.html" %}
{% block title %}Edit list words{% endblock %}

{% block manage %}
<div class="container">
    <h1 class="mt-4">Editable Table</h1>
    <input type="file" id="upload-excel" class="form-control-file mt-3">
    <button class="btn btn-secondary mt-2" onclick="showColumnMappingModal()">Upload Excel</button><br>
    <input type="file" id="upload-json" class="form-control-file mt-3">
    <button class="btn btn-secondary mt-2" onclick="uploadJson()">Upload JSON</button>
    <div class="form-group">
        <label for="rows-per-page">Rows per page:</label>
        <select id="rows-per-page" class="form-control" onchange="changeRowsPerPage()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
        </select>
    </div>
    <div class="mb-3">
        <button id="loadAudioPaths" class="btn btn-info mt-2">Load Audio Paths</button>  
        <button id="loadImagePaths" class="btn btn-info mt-2">Load Image Paths</button>  
        <button id="translateRows" class="btn btn-warning mt-2">Translate Rows</button>  
        <button id="search" class="btn btn-primary mt-2"  onclick="handleSearch()" >Search</button>
        <button class="btn btn-secondary mt-2" id="theme-toggle" onclick="toggleTheme()">Toggle Theme</button>
        <button class="btn btn-secondary mt-2" onclick="showColumnSelection()">Download Configuration</button><br>
    </div>
    <table class="table table-bordered mt-4" id="data-table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="select-all-rows" onchange="toggleSelectAllRows(this)"> All
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Language"> 
                    Language
                    {% include 'manage/lists/bulklanguaes.html' %}
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Translation Language"> 
                    Translation Language
                    {% include 'manage/lists/translatelanguages.html' %}
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Word"> Word
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Translation"> Translation
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Definition"> Definition
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Example"> Example
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Example Translation"> Example Translation
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Image Link"> Image Link
                </th>
                <th>
                    <input type="checkbox" class="column-checkbox" value="Audio Link"> Audio Link
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be populated by JavaScript -->
        </tbody>
    </table>
    
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary" onclick="prevPage()">Previous</button>
        <span>Page <span id="current-page">1</span> of <span id="total-pages"></span></span>
        <input type="number" id="page-number" min="1" class="form-control" style="width: 80px;" onchange="goToPage()">
        <button class="btn btn-primary" onclick="nextPage()">Next</button>
    </div>
    <button class="btn btn-primary mt-2" onclick="addRow()">Add Row</button>
    <button class="btn btn-danger mt-2" onclick="clearTable()">Clear Table</button>
    <button class="btn btn-warning mt-2" onclick="undoChanges()">Undo Changes</button>
    <button id="saveChanges" class="btn btn-success mt-2">Save Changes</button> 

{% include 'manage/modals/column-mapping-pop-up.html' %}
{% include 'manage/modals/downloand-pop-up.html' %}
{% include 'manage/modals/select-columns-pop-up.html' %}
{% include 'manage/modals/save-changes-pop-up.html' %}
{% include 'manage/modals/search-pop-up.html' %}
{% include 'manage/modals/translate-rows-pop-up.html' %}

</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='project/js/manage/exel.js') }}"></script>
{% endblock %}
