<!-- Nie działą na razie zapisywanie pliku po wciśnięciu przycisku ostateczny zapis wywalany jest błąd -->

<!-- only exel files--> 

{% extends "manage.html" %}

{% block title %}Read_from_file{% endblock %}

{% block manage %}
<h2>Read_from_file only exel</h2>
<form id="uploadForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="excelFile">Wybierz plik Excel</label>
        <input type="file" class="form-control" id="excelFile" accept=".xls,.xlsx" required>
    </div>
    <button type="submit" class="btn btn-primary">Wczytaj</button>
</form>
<div id="mappingSection" class="mt-5" style="display: none;">
    <h3>Mapowanie Kolumn</h3>
    <form id="mappingForm">
        <!-- Mapping fields will be added dynamically here -->
    </form>
    <div class="form-group">
        <h3>Zapisywanie pliku</h3>
        <input type="text" id="fileName" placeholder="Enter file name (with .json)" class="form-control">
    </div>
    <button id="saveChanges" class="btn btn-primary mt-3">Save Changes</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/read_from_file.js') }}"></script>
{% endblock %}

 